    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Curso</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-50 min-h-screen p-10">

<div class="max-w-6xl mx-auto">

    <div class="mb-10">

        <h1 class="text-5xl font-black text-slate-800 mb-4"
            th:text="${categoria.nombre}">
            Matemática
        </h1>

        <p class="text-slate-500 text-lg"
           th:text="${categoria.descripcion}">
            Descripción
        </p>

    </div>

    <div class="grid gap-6">

        <div th:if="${#lists.isEmpty(preguntas)}"
             class="bg-white p-10 rounded-3xl shadow">

            <h2 class="text-2xl font-black mb-3">
                No hay preguntas todavía
            </h2>

            <p class="text-slate-500">
                Esta categoría aún no tiene contenido.
            </p>

        </div>

        <div th:each="p : ${preguntas}"
             class="bg-white p-8 rounded-3xl shadow border border-slate-100">

            <h2 class="text-2xl font-black mb-3"
                th:text="${p.titulo}">
                Titulo
            </h2>

            <p class="text-slate-500 mb-6"
               th:text="${p.descripcion}">
                descripcion
            </p>

            <a th:href="@{/pregunta/{id}(id=${p.idPregunta})}"
               class="inline-block bg-blue-600 text-white px-5 py-3 rounded-2xl font-bold">
                Ver Pregunta
            </a>

        </div>

    </div>

</div>

</body>
</html>